{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="topbar">

        <div class="topbar-left-container">
            {% block topbar-left-container %}{% endblock %}
        </div>
        <div class="topbar-right-container">
            {% block topbar-right-container %}{% endblock %}
        </div>

    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>