{% extends "base.html" %}

{% block title %}Ressources Humaines{% endblock %}


{% block topbar-left-container %}
<div class="tb-title"><i class="fa-solid fa-user"></i> Espace Ressources Humaines : <span class="tp-content">{{ user.first_name }} {{ user.last_name }}</span></div>
{% endblock %}

{% block topbar-right-container %}
<a class="settings-button" href="{% url 'settings' %}"><i class="fa-solid fa-cog"></i>  Congés</a>
<a class="security-button" href="{% url 'security' %}"><i class="fa-solid fa-lock"></i> Securité</a>
<a class="logout-button" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a>
{% endblock %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="error">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <a class="reporting-button" href="{% url 'reporting' %}"><i class="fa-solid fa-chart-bar"></i> Reporting</a>
    <h3>Soldes de congé des employés</h3>
    <table>
        <thead>
            <tr>
                <th>Employé</th>
                <th>Solde de congé (jours)</th>
                <th>Superviseur</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
            <tr>
                <td>{{ employe.user.first_name }} {{ employe.user.last_name }}</td>
                <td>{{ employe.solde_conge }}</td>
                <td>{{ employe.superviseur.user.first_name }} {{ employe.superviseur.user.last_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Aucun employé trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if employes.has_previous %}
                <a href="?page_employes=1">&laquo; première</a>
                <a href="?page_employes={{ employes.previous_page_number }}">&laquo; précédente</a>
            {% endif %}
    
            <span class="current">
                Page {{ employes.number }} sur {{ employes.paginator.num_pages }}.
            </span>
    
            {% if employes.has_next %}
                <a href="?page_employes={{ employes.next_page_number }}">suivante &raquo;</a>
                <a href="?page_employes={{ employes.paginator.num_pages }}">dernière &raquo;</a>
            {% endif %}
        </span>
    </div>

    <h3>Demandes de congé en attente <span class="nbr">{{ nombre_demandes_conge_en_attente}}</span></h3>
    <table>
        <thead>
            <tr>
                <th>Employé</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Durée (jours)</th>
                <th>Raison</th>
                <th>Superviseur</th>
            </tr>
        </thead>
        <tbody>
            {% for demande in demandes_conge_en_attente %}
            <tr>
                <td>{{ demande.employe.user.first_name }} {{ demande.employe.user.last_name }}</td>
                <td>{{ demande.date_debut }}</td>
                <td>{{ demande.date_fin }}</td>
                <td>{{ demande.duree }}</td>
                <td>{{ demande.raison }}</td>
                <td>{{ demande.employe.superviseur.user.first_name }} {{ demande.employe.superviseur.user.last_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Aucune demande de congé en attente.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if demandes_conge_en_attente.has_previous %}
                <a href="?page_en_attente=1">&laquo; première</a>
                <a href="?page_en_attente={{ demandes_conge_en_attente.previous_page_number }}">&laquo; précédente</a>
            {% endif %}
    
            <span class="current">
                Page {{ demandes_conge_en_attente.number }} sur {{ demandes_conge_en_attente.paginator.num_pages }}.
            </span>
    
            {% if demandes_conge_en_attente.has_next %}
                <a href="?page_en_attente={{ demandes_conge_en_attente.next_page_number }}">suivante &raquo;</a>
                <a href="?page_en_attente={{ demandes_conge_en_attente.paginator.num_pages }}">dernière &raquo;</a>
            {% endif %}
        </span>
    </div>

    <h3>Demandes de congé approuvées <span class="nbr">{{ nombre_demandes_conge_approuvees }}</span></h3>
    <table>
        <thead>
            <tr>
                <th>Employé</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Durée (jours)</th>
                <th>Raison</th>
                <th>Superviseur</th>
            </tr>
        </thead>
        <tbody>
            {% for demande in demandes_conge_approuvees %}
            <tr>
                <td>{{ demande.employe.user.first_name }} {{ demande.employe.user.last_name }}</td>
                <td>{{ demande.date_debut }}</td>
                <td>{{ demande.date_fin }}</td>
                <td>{{ demande.duree }}</td>
                <td>{{ demande.raison }}</td>
                <td>{{ demande.employe.superviseur.user.first_name }} {{ demande.employe.superviseur.user.last_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Aucune demande de congé approuvée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if demandes_conge_approuvees.has_previous %}
                <a href="?page_approuvees=1">&laquo; première</a>
                <a href="?page_approuvees={{ demandes_conge_approuvees.previous_page_number }}">&laquo; précédente</a>
            {% endif %}
    
            <span class="current">
                Page {{ demandes_conge_approuvees.number }} sur {{ demandes_conge_approuvees.paginator.num_pages }}.
            </span>
    
            {% if demandes_conge_approuvees.has_next %}
                <a href="?page_approuvees={{ demandes_conge_approuvees.next_page_number }}">suivante &raquo;</a>
                <a href="?page_approuvees={{ demandes_conge_approuvees.paginator.num_pages }}">dernière &raquo;</a>
            {% endif %}
        </span>
    </div>
    <h3>Demandes de congé refusées <span class="nbr">{{ nombre_demandes_conge_refusees }}</span></h3>
<table>
    <thead>
        <tr>
            <th>Employé</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Durée (jours)</th>
            <th>Raison</th>
            <th>Superviseur</th>
        </tr>
    </thead>
    <tbody>
        {% for demande in demandes_conge_refusees %}
        <tr>
            <td>{{ demande.employe.user.first_name }} {{ demande.employe.user.last_name }}</td>
            <td>{{ demande.date_debut }}</td>
            <td>{{ demande.date_fin }}</td>
            <td>{{ demande.duree }}</td>
            <td>{{ demande.raison }}</td>
            <td>{{ demande.employe.superviseur.user.first_name }} {{ demande.employe.superviseur.user.last_name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Aucune demande de congé refusée.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pagination">
    <span class="step-links">
        {% if demandes_conge_refusees.has_previous %}
            <a href="?page_refusees=1">&laquo; première</a>
            <a href="?page_refusees={{ demandes_conge_refusees.previous_page_number }}">&laquo; précédente</a>
        {% endif %}

        <span class="current">
            Page {{ demandes_conge_refusees.number }} sur {{ demandes_conge_refusees.paginator.num_pages }}.
        </span>

        {% if demandes_conge_refusees.has_next %}
            <a href="?page_refusees={{ demandes_conge_refusees.next_page_number }}">suivante &raquo;</a>
            <a href="?page_refusees={{ demandes_conge_refusees.paginator.num_pages }}">dernière &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
