{% extends "base.html" %}

{% block title %}Ressources Humaines{% endblock %}


{% block topbar-left-container %}
<div class="tb-title"><i class="fa-solid fa-user"></i> Espace Ressources Humaines : <span class="tp-content">{{ user.first_name }} {{ user.last_name }}</span></div>
{% endblock %}

{% block topbar-right-container %}
<a class="settings-button" href="{% url 'settings' %}"><i class="fa-solid fa-cog"></i>  Congés</a>
<a class="security-button" href="{% url 'security' %}"><i class="fa-solid fa-lock"></i> Securité</a>
<a class="logout-button" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a>
{% endblock %}

{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="error">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <h3>Soldes de congé des employés</h3>
    <table>
        <thead>
            <tr>
                <th>Employé</th>
                <th>Solde de congé (jours)</th>
                <th>Superviseur</th>
            </tr>
        </thead>
        <tbody>
            {% for employe in employes %}
            <tr>
                <td>{{ employe.user.first_name }} {{ employe.user.last_name }}</td>
                <td>{{ employe.solde_conge }}</td>
                <td>{{ employe.superviseur.user.first_name }} {{ employe.superviseur.user.last_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Aucun employé trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Demandes de congé en attente</h3>
    <table>
        <thead>
            <tr>
                <th>Employé</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Durée (jours)</th>
                <th>Raison</th>
                <th>Superviseur</th>
            </tr>
        </thead>
        <tbody>
            {% for demande in demandes_conge_en_attente %}
            <tr>
                <td>{{ demande.employe.user.first_name }} {{ demande.employe.user.last_name }}</td>
                <td>{{ demande.date_debut }}</td>
                <td>{{ demande.date_fin }}</td>
                <td>{{ demande.duree }}</td>
                <td>{{ demande.raison }}</td>
                <td>{{ demande.employe.superviseur.user.first_name }} {{ demande.employe.superviseur.user.last_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Aucune demande de congé en attente.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h3>Demandes de congé approuvées <span class="nbr">{{ demandes_conge_approuvees.count }}</span></h3>
    <table>
        <thead>
            <tr>
                <th>Employé</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Durée (jours)</th>
                <th>Raison</th>
                <th>Superviseur</th>
            </tr>
        </thead>
        <tbody>
            {% for demande in demandes_conge_approuvees %}
            <tr>
                <td>{{ demande.employe.user.first_name }} {{ demande.employe.user.last_name }}</td>
                <td>{{ demande.date_debut }}</td>
                <td>{{ demande.date_fin }}</td>
                <td>{{ demande.duree }}</td>
                <td>{{ demande.raison }}</td>
                <td>{{ demande.employe.superviseur.user.first_name }} {{ demande.employe.superviseur.user.last_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Aucune demande de congé approuvée.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Demandes de congé refusées <span class="nbr">{{ demandes_conge_refusees.count }}</span></h3>
<table>
    <thead>
        <tr>
            <th>Employé</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Durée (jours)</th>
            <th>Raison</th>
            <th>Superviseur</th>
        </tr>
    </thead>
    <tbody>
        {% for demande in demandes_conge_refusees %}
        <tr>
            <td>{{ demande.employe.user.first_name }} {{ demande.employe.user.last_name }}</td>
            <td>{{ demande.date_debut }}</td>
            <td>{{ demande.date_fin }}</td>
            <td>{{ demande.duree }}</td>
            <td>{{ demande.raison }}</td>
            <td>{{ demande.employe.superviseur.user.first_name }} {{ demande.employe.superviseur.user.last_name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Aucune demande de congé refusée.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
