{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Tableau de bord</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Tableau de bord</h2>
    <h3>Bonjour, {{employe.user.first_name}} {{employe.user.last_name}}</h3>
    <p> Votre solde de congé est de <span class="nbr">{{employe.solde_conge}}</span> jours</p>
    <p>Vous avez <span class="nbr">{{demandes_conge.count}}</span> demande(s) de congé</p>
    <div class="actions">
        {% if employe.solde_conge > 0 %}
        <a href="{% url 'create' %}">Créer une demande de congé</a>
        {% else %}
        <p class="plus_conge">Vous n'avez plus de jours de congé disponibles.</p>
        {% endif %}
        <a class="logout-button" href="{% url 'logout' %}">Déconnexion</a>
    </div>
    <h3>Vos demandes de congé</h3>
    <table>
        <thead>
            <tr>
                <th>Debut</th>
                <th>Fin</th>
                <th>Raison</th>
                <th>Etat</th>
            </tr>
        </thead>
        <tbody>
            {% for demande in demandes_conge %}
            <tr>
                <td>{{ demande.date_debut }}</td>
                <td>{{ demande.date_fin }}</td>
                <td>{{ demande.raison }}</td>
                <td>{{ demande.get_etat_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>